name: Docker Image CI pdns-recursor 4.4 alpine

on:
  push:
    tags: [ 'pdns-recursor-alpine-4.4' ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    
      - name: Check Out Repo
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push PDNS Recursor
        id: docker_build_recursor
        uses: docker/build-push-action@v2
        with:
          context: ./pdns-recursor
          file: ./pdns-recursor/Dockerfile.alpine
          builder: ${{ steps.buildx.outputs.name }}
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/pdns-recursor:4.4-alpine

      - name: Image digest
        run: echo ${{ steps.docker_build_recursor.outputs.digest }}
