name: Docker Image CI pdns-recursor alpine

on:
  push:
    tags:
      - 'pdns-recursor-alpine-*'

jobs:

  build:

    runs-on: ubuntu-latest

    steps:

      - name: Check Out Repo
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Set output
        id: vars
        run: echo ::set-output name=version::${GITHUB_REF##*-}

      - name: Build and push PDNS Recursor
        id: docker_build_recursor
        uses: docker/build-push-action@v3
        with:
          context: ./pdns-recursor
          file: ./pdns-recursor/Dockerfile.alpine
          builder: ${{ steps.buildx.outputs.name }}
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/pdns-recursor:${{ steps.vars.outputs.version }}-alpine

      - name: Image digest
        run: echo ${{ steps.docker_build_recursor.outputs.digest }}
