name: Docker Image CI for PRs

on:
  pull_request:
    branches: [ master ]

jobs:

  test_build:

    runs-on: ubuntu-latest

    steps:
    
      - name: Check Out Repo
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Build PDNS Recursor latest
        id: docker_build_recursor_latest
        uses: docker/build-push-action@v2
        with:
          context: ./pdns-recursor
          file: ./pdns-recursor/Dockerfile
          builder: ${{ steps.buildx.outputs.name }}
          push: false
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/pdns-recursor:latest

      - name: Image digest
        run: echo ${{ steps.docker_build_recursor_latest.outputs.digest }}

      - name: Build PDNS Recursor alpine
        id: docker_build_recursor_alpine
        uses: docker/build-push-action@v2
        with:
          context: ./pdns-recursor
          file: ./pdns-recursor/Dockerfile.alpine
          builder: ${{ steps.buildx.outputs.name }}
          push: false
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/pdns-recursor:alpine

      - name: Image digest
        run: echo ${{ steps.docker_build_recursor_alpine.outputs.digest }}

      - name: Build PDNS latest
        id: docker_build_pdns_latest
        uses: docker/build-push-action@v2
        with:
          context: ./pdns
          file: ./pdns/Dockerfile
          builder: ${{ steps.buildx.outputs.name }}
          push: false
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/pdns:latest

      - name: Image digest
        run: echo ${{ steps.docker_build_pdns_latest.outputs.digest }}

      - name: Build PDNS alpine
        id: docker_build_pdns_alpine
        uses: docker/build-push-action@v2
        with:
          context: ./pdns
          file: ./pdns/Dockerfile.alpine
          builder: ${{ steps.buildx.outputs.name }}
          push: false
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/pdns:alpine

      - name: Image digest
        run: echo ${{ steps.docker_build_pdns_alpine.outputs.digest }}

      - name: Build admin base
        id: docker_build_admin_base
        uses: docker/build-push-action@v2
        with:
          context: ./pdns-admin-base-ngoduykhanh
          file: ./pdns-admin-base-ngoduykhanh/Dockerfile
          builder: ${{ steps.buildx.outputs.name }}
          push: false
          tags: |
            ${{ secrets.DOCKER_HUB_USERNAME }}/pdns-admin-base:latest
            ${{ secrets.DOCKER_HUB_USERNAME }}/pdns-admin-base:ngoduykhanh

      - name: Image digest
        run: echo ${{ steps.docker_build_admin_base.outputs.digest }}

      - name: Build admin uwsgi
        id: docker_build_admin_uwsgi
        uses: docker/build-push-action@v2
        with:
          context: ./pdns-admin-uwsgi-ngoduykhanh
          file: ./pdns-admin-uwsgi-ngoduykhanh/Dockerfile
          builder: ${{ steps.buildx.outputs.name }}
          push: false
          tags: |
            ${{ secrets.DOCKER_HUB_USERNAME }}/pdns-admin-uwsgi:latest
            ${{ secrets.DOCKER_HUB_USERNAME }}/pdns-admin-uwsgi:ngoduykhanh

      - name: Image digest
        run: echo ${{ steps.docker_build_admin_uwsgi.outputs.digest }}

      - name: Build admin static
        id: docker_build_admin_static
        uses: docker/build-push-action@v2
        with:
          context: ./pdns-admin-static-ngoduykhanh
          file: ./pdns-admin-static-ngoduykhanh/Dockerfile
          builder: ${{ steps.buildx.outputs.name }}
          push: false
          tags: |
            ${{ secrets.DOCKER_HUB_USERNAME }}/pdns-admin-static:latest
            ${{ secrets.DOCKER_HUB_USERNAME }}/pdns-admin-static:ngoduykhanh

      - name: Image digest
        run: echo ${{ steps.docker_build_admin_static.outputs.digest }}
